
.simple-form{
margin-top:20px;
text-align:center;
font-style:oblique;
border-radious:25px;
font-weight: bold; 
background-color:white;
max-width:350px;

padding:60px 45px;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  border-radius:14px;
}
.header {
  padding: 20px;
  text-align: center;
  background: black;
  color: white;
  font-size: 10px;


}
body{
background-color:white;

}
button{
font-style:oblique;
font-weight: bold;
font-size: 20px;
border-radius: 50%;
border: 2px solid black;
box-shadow: 0 9px black;
}
input[type=text], input[type=date],select {
    width:60%;
    border-radius: 4px;
    
 
  }