*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: rgb(109, 110, 110);
    color: rgb(199, 199, 199);
    font-family: sans-serif;
    font-size: 18px;
}

h3{
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 5px;
}

.tableContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
table{
    border: 2px solid rgb(255, 255, 255);
}
table,th,td{
    text-align: center;
    background-color: rgba(44, 44, 44, 0.589);
    padding: 5px;
    
}
th{
    color: rgb(177, 123, 113);
}
